/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
1. từ ngoài vào trong
2. từ trên xuống dưới
3. tổng quan chi tiết
Thứ tự ưu tiên: vị trí, kích thước, màu sắc, kiểu dáng)
*/
/* Common */
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-3{
    width: 33.33%;
}
.col-2{
    width: 50%;
}
.col-1{
    width: 100%;
}
.text-center{
    text-align: center;
}
.mt-8{
    margin-top: 8px !important;

}
.mt-16{
    margin-top: 16px !important;
}
.btn{
    color: #fff;
    background-color: #000;
    border: none;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 15px ;
    display: inline-block;
}
.btn:hover{
    background-color: #ccc;
    cursor: pointer;
    color: #000;

}
.pull-right{
    float: right;
}
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}
#slider{
    margin-top: 46px;
    background: url(/assets/img/Slider/slider1.jpg) top center / cover no-repeat;
    padding-top: 50%;
    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 46px;
    color: #fff;
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 25px;
}
#slider .text-desciption{
    font-size: 15px;
    margin-top: 25px;
}

/*Header begin */
#nav >li{
    display: inline-block;
}
#nav li{
   
    position: relative;

}
#nav{
    display: inline-block;

}
#nav, .subnav{
    list-style-type: none;
    
}
#nav li a{
    display: block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    
}
#nav li:hover .subnav{
    display: block;

}
#nav >li > a{
    color: white;
    text-transform: uppercase;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 25px;

}
#header .search-btn{
    float: right;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
 
#nav .subnav{
    display: none;
    position: absolute;
    min-width: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: black;
    padding: 0 12px;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
/* Header end */

/* Content Section */
#content{
    height: 700px;
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin: 25px 0;
    font-style: italic;
    opacity: 0.7;
}
#content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 45px;
}
 
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* TOUR SECTION */

.tour-section{
    background-color: #000;

}
.tour-section .ticket-list{
    background-color: #fff;
    list-style: none;
    margin: 40px 0;
}
   
.tour-section .ticket-list li{
    font-size: 15px;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}
.tour-section .sold-out{
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}
.tour-section .quantity{
    float: right;
    width: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;

}
/* Place */
.places-list{
    margin-top: 32px;
    
    

}

.place-body{
    background-color: #fff;
    text-align: center;
    padding: 14px;
    font-size: 15px;
}
.place-time{
    margin-top: 15px ;
    opacity: 0.7;

}
.place-desciption{
    margin-top: 15px;
    line-height: 1.5;
}
.place-heading{
    font-weight: 600;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal .modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 40px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease 1s;
    
}
.modal .modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 15px;
}
 .modal-close{
    right: 0;
    top: 0;
    color: #fff;
    position: absolute;
    padding: 12px;
    opacity: 0.8;
    background-color: green;
}
.modal-close:hover{
    opacity: 1;
}
.modal-body{
    padding: 15px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 25px;
}
.modal #buy-tickets{
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px ;
    cursor: pointer;

}
#buy-tickets:hover{
    opacity: 0.8;
}
.modal-footer{
    padding: 15px;
    text-align: right;
}
.modal-footer a{
    color: #009688;
    text-decoration: none;
}

@keyframes modalFadein{
    from {
        transform: translateY(-150px);
    }
    to{
        transform: translateY(0);
    }
}
/* Contact form */
.contact-content{
    margin-top: 45px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
    
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
    
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 2%;
}
.contact-form .form-submit-btn{
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    float: right;
}
.map-section{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .scocials-list{
    font-size: 24px;
}
#footer .scocials-list a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}
#footer .scocials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
    padding: 4px;
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.7);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.7);
}